.content{
    width: 640px;
    height: 640px;
    margin: 30px auto;
    position: relative;
    right: 100px;
}


.curtain{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
}

.curtain button{
    background: none;
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
}

.gameOver{
    display: none;
}

.gameOver div.score{
    height: 100px;
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 80px;
    position: absolute;
    cursor: default;
    left: 0;
    top: 15%;
    right: 0;
}

.gameOver span{
    height: 30px;
    color: yellow;
    line-height: 30px;
    text-align: center;
    font-size: larger;
    position: absolute;
    cursor: default;
    left: 0;
    top: 60%;
    right: 0;
}

.startBtn button{
    width: 200px;
    height: 80px;
    background-image: url(../img/startGame.png);
    margin-left: -100px;
    margin-top: -40px;
    border-radius: 5px;
}

.pauseBtn{
    display: none;
}

.pauseBtn button{
    width: 70px;
    height: 70px;
    background-image: url(../img/pauseGame.png);
    margin-left: -35px;
    margin-top: -35px;
    border-radius: 50%;
}

.snakeWrap{
    background: #225675;
    border: 20px solid #7dd9ff;
    position: relative;
}

.snakeHead{
    background-image: url(../img/snakeHead.png);
    background-size: cover;
}

.snakeBody{
    background-color: #9ddbb1;
    border-radius: 50%;
}

.food{
    background-image: url(../img/food.png);
    background-size: cover;
}

.introduction{
    width: 200px;
    height: 640px;
    position: absolute;
    border: #225675 solid 5px;
    box-sizing: border-box;
    right: -200px;
    top: 0;
    background-color: green;
}


.introduction h1{
    padding: 5px;
    color: lightblue;
}

.introduction  .intro_content{
    margin:7% 10%;
    width: 80%;
    height: 80%;
    color: yellow;
    line-height: 1.8em;
    font-size: 16px;
}

.introduction .intro_content p{
    margin: 5px;
}

.introduction .direction{
    position: absolute;
    top: 329px;
    right: -1px;
    height: 302px;
    width: 192px;
    /* background-color: blue; */
}

.introduction  .direction button{
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
    border-top: #1e2930 solid 5px;
    border-bottom: #7f888d solid 5px;
    border-right: #2e3438 solid 5px;
    border-left: yellow solid 5px;
}

.introduction .direction button:hover{
    background-color: rgb(220, 220, 220);
}

.introduction .direction .active{
    background-color: rgb(100, 70, 70);
    color: white;
}

.introduction .direction .up{
    right: 70px;
    top: 90px;
}

.introduction .direction .down{
    right: 70px;
    top: 160px;
}

.introduction .direction .left{
    right: 125px;
    top: 160px;
}

.introduction .direction .right{
    right: 15px;
    top: 160px;
}