.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#mine{
    margin: 0  auto;

}

.level{
    text-align: center;
    margin-bottom: 5px;
}

.level button{
    width: 60px;
    height: 30px;
    background: #02a4ad;
    border: none;
    color: white;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.level button:hover{
    background: #04bac4;
}

.level button:active{
    background: #0481c0;
}

.level .active{
    background: #00abff;
}

table{
    border-spacing: 1px;
    background: #929196;
    margin: 0 auto;
}

td{
    padding: 0;
    width: 16.5px;
    height: 16.5px;
    min-width: 16.5px;
    min-height: 16.5px;
    background: #ccc;
    border: 2px solid;
    border-color: white #a1a1a1 #a1a1a1 white;
    text-align: center;
    line-height: 16.5px;
    font-weight: bold;
    user-select: none;
}

td.active{
    background: rgb(174, 170, 170);
}


.gameBox td.number{
    border-color: #d9d9d9;
    background: #d9d9d9;
    user-select: none;
}

.gameBox td.zero{
    font-size: 0;
}

.gameBox td.one{
    color: black;
}

.gameBox td.two{
    color: blue;
}

.gameBox td.three{
    color: red;
}

.gameBox td.four{
    color: green;
}

.gameBox td.five{
    color: brown;
}

.gameBox td.six{
    color: skyblue;
}

.gameBox td.seven{
    color: #008c8c;
}

.gameBox td.eight{
    color: #00abff;
}

.info{
    margin: 5px auto;
    width: 190px;
}
.info span:first-child{
    /* margin-top: 10px; */
    float: left;
}

.info span:last-child{
    float: right;
}

.mine{
    background: #d9d9d9 url(../images/mine.png) no-repeat center;
    background-size: cover;
}

.flag{
    background: #ccc url(../images/flag.png) no-repeat center;
    background-size: cover;
}